/* Set the background color for the entire application */
.root {
    -fx-background-color: #2b2b2b;
}

/* Style for TextArea */
.mainTextarea { 
    -fx-background-color: #202020;
    -fx-text-fill: #a9b7c6;
    -fx-highlight-fill: #4b6eaf;
    -fx-highlight-text-fill: #ffffff;
    -fx-prompt-text-fill: #606366;
    -fx-border-color: #3c3f41;
    -fx-background-radius: 10; /* Add this line for background radius */
    -fx-border-radius: 10; /* Add this line for border radius */
}

/* Style for Buttons */
.button {
    -fx-background-color: #3c3f41;
    -fx-text-fill: #a9b7c6;
    -fx-border-color: #4b6eaf;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.button:hover {
    -fx-background-color: #4b6eaf;
    -fx-text-fill: #ffffff;
}

.button:pressed {
    -fx-background-color: #2b2b2b;
    -fx-text-fill: #a9b7c6;
}

/* Style for Labels */
.label {
    -fx-text-fill: #a9b7c6;
}