/* Set the background color for the entire application */
.root {
    -fx-background-color: #ffffff;
    -fx-font-family: Lexend;
}

/* Style for TextArea */
.text-area {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
    -fx-border-color: #000000;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-padding: 10;
}

.text-area:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: #000000;
    -fx-background-color: #ffffff;
}

/* Style for Buttons */
.button {
    -fx-background-color: #e0e0e0;
    -fx-text-fill: #000000;
    -fx-border-color: #020202;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 10 20;
}

.button:hover {
    -fx-background-color: #d0d0d0;
    -fx-text-fill: #000000;
}

.button:pressed {
    -fx-background-color: #c0c0c0;
    -fx-text-fill: #000000;
}

.button:focused {
    -fx-focus-color: #ffffff;
    -fx-faint-focus-color: #ffffff;
    -fx-border-color: #ffffff;
    -fx-background-color: #ffe6e6;
}

/* Style for Labels */
.label {
    -fx-text-fill: #000000;
}
